body {
    font-family: 'Roboto', sans-serif;
    background: #010001;
    margin: 0;
    padding-top: 53px;
    color: white;
}
.header {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.item-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 14px;
}
.secondary-nav .item-link {
    color: #808080;
}
.main {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
}
.title {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 26px;
    margin-top: 0;
}
.description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 268px;
    margin: auto;
}
.description::after {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    background-color: white;
    margin: auto;
    margin-top: 26px;
}
.video {
    max-width: 1230px;
    width: 90%;
    margin: auto;
    height: 750px;
}
.fetures {
    position: relative;
    max-width: 1230px;
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.features-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 45px;
}
table {
    margin-bottom: 200px;
}
.t-col {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
}
.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}
.rocket {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.footer {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav .item-link {
    font-size: 18px;
    line-height: 21px;
}
.footer .logo {
    padding-bottom: 43px;
}
.footer-nav {
    margin-bottom: 28px;
}
.footer-text {
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    margin-bottom: 30px;
}
.footer-link {
    color: #808080;
    text-decoration: none;
}
.button {
    color: white;
    min-width: 260px;
    padding: 20px;
    text-align: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    text-decoration: none;
}
@media (max-width: 1100px) {
    .rocket {
        max-width: 550px;
    }
}
@media (max-width: 960px) {
    .rocket {
        max-width: 450px;
    }
    .t-col {
        width: 250px;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .rocket {
        max-width: 250px;
    }
    .video {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .rocket {
        position: static;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .table {
        margin-bottom: 0;
    }
    .t-col {
        font-size: 14px;
        width: 150px;
    }
    .footer-nav .list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
    .footer {
        text-align: center;
        padding: 0;
        padding-bottom: 50px;
    }
    .features-text {
        margin-bottom: 0;
    }
}